<div class="border-2 bg-white">


<div class="flex flex-col justify-center items-center pt-12 mx-8">
    <img class="w-36 h-36" src="../../../../assets/img/trophy.jpg" alt="">
    <div class="flex flex-col justify-center items-center pt-8">
        <h1 class="font-font-medium text-xl">Upgrade to <strong>Pro</strong> </h1>
        <p class="text-sm text-gray-500 pt-4">
            I am a consultant for a small hotel business. I am
            currently with them through a rebrand and they are in 
            need of a new company logo.    
        </p>
    </div>

    <div class="pt-8">
        <ul class="flex flex-col">
            <li class="flex pb-1"><strong class="text-white bg-green-500 rounded-full py-px px-1">✓</strong> <p class="text-gray-500 pl-2">Unlimited Job Post.</p></li>
            <li class="flex pb-1"><strong class="text-white bg-green-500 rounded-full py-px px-1">✓</strong> <p class="text-gray-500 pl-2">Multiple job communication.</p></li>
            <li class="flex pb-1"><strong class="text-white bg-green-500 rounded-full py-px px-1">✓</strong> <p class="text-gray-500 pl-2">Unlimited calling access from different city.</p></li>
            <li class="flex pb-1"><strong class="text-white bg-green-500 rounded-full py-px px-1">✓</strong> <p class="text-gray-500 pl-2">Hire 10+ freelancers for one project.</p></li>
            <li class="flex pb-1"><strong class="text-white bg-green-500 rounded-full py-px px-1">✓</strong> <p class="text-gray-500 pl-2">Filter, block, search talent freealancers.</p></li>
        </ul>
    </div>

    <button class="bg-blue-500 text-white rounded-full px-2 py-1 my-8">Upgrade Plan</button>

</div>
</div>