<div class="pt-10 pr-8">
  <div class="pb-8">
    <ul class="flex">
      <a href="#" class="pr-8 text-lg border-b-2 border-blue-500">Experience</a>
      <a href="#" class="px-8 text-lg border-b-2 text-gray-500">Biography</a>
      <a href="#" class="px-8 text-lg border-b-2 text-gray-500">Skills</a>
      <a href="#" class="pl-8 text-lg border-b-2 text-gray-500">Portfolio</a>
    </ul>
  </div>


  <div class="bg-white px-8 py-4 border-2">


    <div class="flex justify-between pb-4">
      <div class="flex items-center">
        <h1 class="text-xl">Job Experience</h1>
        <h2 class="text-gray-500 pl-8">3 Job History</h2>
      </div>
      <button class="text-gray-500 rounded-full border-2 px-2 py-1">+Add More</button>
    </div>
     

    <div>
        <div class="flex"> 
        <img src="../../../../../assets/img/trophy.jpg" alt="" class="w-10 - h-10">

        <div class="flex flex-col pl-8 ">
                <ul class="flex justify-between">
                    <li class="">
                        <h1 class="text-xl">Graphic Designer</h1>
                        <h3 class="text-gray-500">Dribble Inc</h3>
                    </li>
                    <li class="flex px-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-1 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <h3 class="text-gray-500">Feb 2016 - Dec 2017 </h3>
                    </li>
                    <li class="flex pl-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-1 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"/> <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"/>
                        </svg>
                        <h3 class="text-gray-500">New York, USA</h3>
                    </li>
                </ul>
                
                <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique minima quaerat officiis, molestiae, reiciendis adipisci esse earum quos nobis, molestias cum dolore impedit quia sequi? Aperiam dolore rem sapiente cupiditate!</p>
            
                <h1 class="pt-8 pb-2">Media Files(2)</h1>
                <div class="flex flex-wrap">
                    <img  class="w-72 h-48 mr-6" src="../../../../../assets/img/testimonials-1.jpg" alt="">
                    <img  class="w-72 h-48" src="../../../../../assets/img/testimonials-4.jpg" alt="">
                </div>

                <div class="border-b-2 pt-4"></div>
                
        </div>
    </div>
        
    <div class="flex pt-4"> 
        <img src="../../../../../assets/img/trophy.jpg" alt="" class="w-10 - h-10">

        <div class="flex flex-col pl-8 ">
                <ul class="flex justify-between">
                    <li class="">
                        <h1 class="text-xl">Lead Designer</h1>
                        <h3 class="text-gray-500">Sketch App</h3>
                    </li>
                    <li class="flex px-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-1 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <h3 class="text-gray-500">Apr 2010 - Semp 2011 </h3>
                    </li>
                    <li class="flex pl-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-1 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"/> <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"/>
                        </svg>
                        <h3 class="text-gray-500">Katmundu, Nepal</h3>
                    </li>
                </ul>              
                <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique minima quaerat officiis, molestiae, reiciendis adipisci esse earum quos nobis, molestias cum dolore impedit quia sequi? Aperiam dolore rem sapiente cupiditate!</p>                      
        </div>
    </div>

    </div>



</div>

</div>
